<!-- navigation -->
<div class="container">
    <div class="row">
        <div class="span10"></div>
        <div class="span1">
            {{#if controller.hasPreviousPage}}
                {{#linkTo messages previousPage}}Previous{{/linkTo}}
            {{/if}}
        </div>
        <div class="span1">
            {{#if controller.fullPage}}
                {{#linkTo messages nextPage}}Next{{/linkTo}}
            {{/if}}
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>Timestamp</th>
        <th>Created</th>
        <th>From</th>
        <th>To</th>
        <th>Type</th>
        <th>Body</th>
    </tr>

    {{#each message in controller}}

        <tr>
            <td>
                {{message.timestampString}}
            </td>
            <td>
                {{message.createdAtString}}
            </td>
            <td>
                {{message.from}}
            </td>
            <td>
                {{message.to}}
            </td>
            <td>
                {{message.type}}
            </td>
            <td>
                {{#if message.isCameraCommand}}
                    {{message.body.command}}
                {{/if}}
                {{#if message.isImage}}
                    <img {{bindAttr src="message.bodyUrlWithAccessToken"}} width="320" height="240" />
                {{/if}}
                {{#if message.isLog}}
                    {{message.body.severity}}: {{message.body.message}}
                {{/if}}
                {{#if message.isIP}}
                    {{message.body.ip_address}}
                {{/if}}
                {{#if message.isIPMatch}}
                    {{view App.IpMatchView}}
                {{/if}}
            </td>
        </tr>

    {{/each}}

</table>
