<div class="container">

    {{#each message in controller}}
    <div class="row">
        <div class="span3">
            {{message.timestampString}}
        </div>
        <div class="span1">
            {{message.message_type}}
        </div>
        <div class="span4">
            {{#if message.isImage}}
                {{message.body.url}}
                <!-- <img {{bindAttr src="bodyUrlWithAccessToken"}} width="320" height="240" /> -->
            {{/if}}
            {{#if message.isLog}}
                {{message.body.severity}}: {{message.body.message}}
            {{/if}}
        </div>
    </div>

    {{/each}}

</div>
