<div class="container">

    <div class="row">
        <div class="span5">ID: {{content.id}}</div>
    </div>

    <div class="row">
        <div class="span10">
            Name:
            {{#if view.editing}}
                {{view Ember.TextField valueBinding="content.name" classNames="span3"}}
            {{else}}
                {{content.name}}
            {{/if}}
        </div>
        <div class="span2">
            {{#if view.editing}}
                <button {{action save content target="view"}} class="btn btn-primary">Save</button>
            {{else}}
                <button {{action edit target="view"}} class="btn btn-primary">Edit</button>
            {{/if}}
        </div>
    </div>


    <div class="row">
        <div class="span5">Type: {{content.type}}</div>
    </div>

    <div class="row">
        <div class="span6">Last Contact: {{content.lastConnectionString}}</div>
    </div>

    {{#if content.hasCamera}}
        {{view App.CameraCapabilityView}}
    {{/if}}

</div>

<h4>Recent Messages</h4>

{{view App.MessagesTableView contentBinding='controller.tailMessages'}}