<tr>
    <td>
        {{#linkTo principal principal}}
            {{principal.id}}
        {{/linkTo}}
    </td>
    <td>
    {{#if view.editing}}
        {{view Ember.TextField valueBinding="principal.name" classNames="span2"}}
    {{else}}
        {{principal.name}}
    {{/if}}
    </td>

    <td>{{principal.type}}</td>

    <td>{{principal.capabilities}}</td>
    <td {{bindAttr class="view.lastConnectionClass"}}>
        {{principal.lastConnectionString}} @ {{principal.last_ip}}
    </td>

    <td>
        {{#if principal.isDevice}}
        <button {{action delete principal}} class="btn btn-primary">Delete</button>
        {{/if}}
    </td>

</tr>
