<div class='row'>
    <div class='span4'>
        {{#linkTo "principal" principal}}
            {{principal.id}}
        {{/linkTo}}
    </div>
    <div class='span2'>
        {{#if view.editing}}
            {{view Ember.TextField valueBinding="principal.name" classNames="span2"}}
        {{else}}
            {{principal.name}}
        {{/if}}
    </div>

    <div class='span1'>{{principal.type}}</div>
    <div class='span2' {{bindAttr class="view.lastConnectionClass"}}>{{principal.lastConnectionString}}</div>
    <div class='span3'>{{principal.last_ip}}</div>
</div>
