<table class='table'>
    <thead>
        <tr>
            <th colspan="4">
                <h4>CAMERA
                    <button type="button" {{action 'sendSnapshot' target="view"}} class="btn btn-default" style="margin-left: 15px">
                        Snapshot
                    </button>
                    <button type="button" {{action 'sendMotion' target="view"}} class="btn btn-default">
                        Detect Motion
                    </button>
                </h4>
            </th>
        </tr>
        <tr>
            <th>EXECUTE AT</th>
            <th>FROM</th>
            <th>COMMAND</th>
            <th>EXPIRES</th>
        </tr>
    </thead>
    <tbody>
{{#each command in view.commands}}
        <tr>
            <td>{{command.ts}}</td>
            <td>{{command.from}}</td>
            <td>{{command.body.command}}</td>
            <td>{{command.expires}}</td>
        </tr>
{{/each}}
    </tbody>
</table>