<hr/>
<div class='container'>
    <div class='row'>
        <div class='span8'><h4>CAMERA</h4></div>
        <div class='span4'>
            <button type="button" {{action sendSnapshot target="view"}} class="btn btn-primary">
                Snapshot
            </button>
            <button type="button" {{action sendMotion target="view"}} class="btn btn-primary">
                Motion
            </button>
        </div>
    </div>

    <div class='row'>
        <div class='span4'><strong>EXECUTE AT</strong></div>
        <div class='span3'><strong>FROM</strong></div>
        <div class='span1'><strong>COMMAND</strong></div>
        <div class='span4'><strong>EXPIRES</strong></div>
    </div>

    {{#each command in view.commands}}
        <div class='row'>
            <div class='span4'>{{command.ts}}</div>
            <div class='span3'>{{command.from}}</div>
            <div class='span1'>{{command.body.command}}</div>
            <div class='span4'>{{command.expires}}</div>
        </div>
    {{/each}}
</div>
<hr/>
