<table class='table'>
    <tr>
        <td><h4>CAMERA</h4></td>
        <td></td>
        <td>
            <button type="button" {{action sendSnapshot}} class="btn btn-primary">Snapshot</button>
            <button type="button" {{action sendMotion}} class="btn btn-primary">Motion</button>
        </td>
    </tr>
    <tr>
        <th>EXECUTE AT</th>
        <th>FROM</th>
        <th>COMMAND</th>
    </tr>

    {{#each command in view.commands}}
    <tr>
        <td>{{command.ts}}</td>
        <td>{{command.from}}</td>
        <td>{{command.body.command}}</td>
    </tr>
    {{/each}}
</table>
