<hr/>
<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <h4>
                SWITCH
                <button type="button" {{action 'sendSwitch' target="view"}} class="btn btn-default" style="margin-left: 15px">
                    Toggle
                </button>
            </h4>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-4'><strong>EXECUTE AT</strong></div>
        <div class='col-md-3'><strong>FROM</strong></div>
        <div class='col-md-1'><strong>COMMAND</strong></div>
        <div class='col-md-4'><strong>EXPIRES</strong></div>
    </div>

    {{#each command in view.commands}}
        <div class='row'>
            <div class='col-md-4'>{{command.ts}}</div>
            <div class='col-md-3'>{{command.from}}</div>
            <div class='col-md-1'>{{command.body.command}}</div>
            <div class='col-md-4'>{{command.expires}}</div>
        </div>
    {{/each}}
</div>
<hr/>
