<table class="table">
    <thead>
        <tr>
            <th>ACTION</th>
            <th>ISSUED TO</th>
            <th>PRINCIPAL FOR</th>
            <th>FILTER</th>
            <th>AUTHORIZED</th>
            <th class="hidden-xs hidden-sm">EXPIRES</th>
            <th class="hidden-xs hidden-sm"></th>
        </tr>
    </thead>
    <tbody>
{{#each permission in content}}
        <tr>
            <td>{{permission.actionString}}</td>
            <td>{{permission.issuedToName}}</td>
            <td>{{permission.principalForName}}</td>
            <td>{{permission.filter}}</td>
            <td>{{permission.authorized}}</td>
            <td class="hidden-xs hidden-sm">{{permission.expiresString}}</td>
            <td class="hidden-xs hidden-sm">
                <button type="button" {{action deletePermission permission}} class="btn btn-default">
                    Delete
                </button>
            </td>
        </tr>
{{/each}}
    </tbody>
</table>
