<table class="table">
    <tr>
        <td colspan='2'>
            <h4>MESSAGES</h4>
        </td>
        <td colspan='2'></td>
        <td>{{#if controller.hasPreviousPage}}
                <a {{bindAttr href="previousPageUrl"}} class="btn">Previous</a>
            {{/if}}
            {{#if controller.fullPage}}
                <a {{bindAttr href="nextPageUrl"}} class="btn">Next</a>
            {{/if}}
        </td>
    </tr>
    <tr>
        <th>TIMESTAMP</th>
        <th>FROM</th>
        <th>TO</th>
        <th>TYPE</th>
        <th>BODY</th>
    </tr>

    {{#each message in view.content}}

    <tr>
        <td>{{message.timestampString}}</td>
        <td>{{message.fromName}}</td>
        <td>{{message.toName}}</td>
        <td>{{message.type}}</td>
        <td>
            {{#if message.isImage}}
                <img {{bindAttr src="message.bodyUrlWithAccessToken"}} width="320" height="240" />
            {{else}}
                {{#if message.isIPMatch}}
                    {{view App.IpMatchView}}
                {{else}}
                    {{message.bodyJSON}}
                {{/if}}
            {{/if}}
        </td>
    </tr>

    {{/each}}

</table>
