<div class="row" style="margin-bottom: 10px; border-bottom: 1px solid">
    <div class="col-md-2">
        {{#if router.hasPreviousPage}}
            <a {{bindAttr href="router.previousPageUrl"}}">
                <i class="fa fa-angle-double-left"></i>
            </a>
        {{/if}}
        <strong>TIMESTAMP</strong>
    </div>
    <div class="col-md-2"><strong>FROM</strong></div>
    <div class="col-md-2"><strong>TO</strong></div>
    <div class="col-md-2"><strong>TYPE</strong></div>
    <div class="col-md-4">
        <strong>BODY</strong>

    {{#if router.fullPage}}
        <a {{bindAttr href="router.nextPageUrl"}} class="pull-right">
            <i class="fa fa-angle-double-right"></i>
        </a>
    {{/if}}

    </div>
</div>

{{#each message in view.content}}

    <div class="row">
        <div class="col-md-2">{{message.timestampString}}</div>
        <div class="col-md-2">{{message.fromName}}</div>
        <div class="col-md-2">{{message.toName}}</div>
        <div class="col-md-2">{{message.type}}</div>
        <div class="col-md-4">
            {{#if message.isImage}}
                <img {{bindAttr src="message.bodyUrlWithAccessToken"}} width="320" height="240" />
            {{else}}
                {{#if message.isLog}}
                    {{message.body.severity}}: {{message.body.message}}
                {{else}}
                    {{message.bodyJSON}}
                {{/if}}
            {{/if}}
        </div>
    </div>

{{/each}}