{{#if router.hasPreviousPage}}
    <a {{bindAttr href="router.previousPageUrl"}}" class="btn default" style="width:100%">
        <i class="fa fa-angle-double-up" style="font-size:125%"></i> Newer Messages <i class="fa fa-angle-double-up" style="font-size:125%"></i>
    </a>
{{/if}}

<table class="table">
    <thead>
        <th>TIMESTAMP</th>
        <th>FROM</th>        
        <th>TO</th>        
        <th>TYPE</th>        
        <th>BODY</th> 
    </thead>
    <tbody>
        {{#each message in view.content}}
            <tr>
                <td>{{message.timestampString}}</td>
                <td>{{message.fromName}}</td>
                <td>{{message.toName}}</td>
                <td>{{message.type}}</td>
                <td>
                    {{#if message.isImage}}
                        <img {{bindAttr src="message.bodyUrlWithAccessToken"}} width="320" height="240" />
                    {{else}}
                        {{#if message.isLog}}
                            {{message.body.severity}}: {{message.body.message}}
                        {{else}}
                            {{message.bodyJSON}}
                        {{/if}}
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

{{#if router.fullPage}}
    <a {{bindAttr href="router.nextPageUrl"}} class="btn default" style="width:100%">
        <i class="fa fa-angle-double-down" style="font-size:125%"></i> Older Messages <i class="fa fa-angle-double-down" style="font-size:125%"></i>
    </a>
{{/if}}