<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>TYPE</th>
            <th>KEY</th>
            <th>REDIRECT URI</th>
            <th>IMAGES</th>
        </tr>
    </thead>
    <tbody>

{{#if controller.length}}

    {{#each apikey in controller}}
        <tr>
            <td>
                {{apikey.id}}
            </td>
            <td>
                {{apikey.name}}
            </td>
            <td>
                {{apikey.type}}
            </td>
            <td>
                {{apikey.key}}
            </td>
            <td>
                {{apikey.redirect_uri}}
            </td>
            <td>
                <a {{action 'redirectToRaspbianImage' apikey}} class="btn green">Raspbian</a>
            </td>
        </tr>
    {{/each}}

{{else}}
        <tr>
            <td colspan='6'>
                (no api keys)
            </td>
        </tr>
{{/if}}

    <tr>
        <td></td>
        <td>
            <input type="text" class="form-control" id="newName" placeholder="Name" />
        </td>
        <td>
            app
        </td>
        <td></td>
        <td>
            <input type="text" class="form-control" id="newRedirectUri" placeholder="Redirect URI" />
        </td>
        <td>
            <a {{action 'createNew'}} class="btn green">Create</a>
        </td>
    </tr>

    </tbody>
</table>
