<div class="container" style='margin-top: 25px;'>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h4>{{modeTitle}}</h4>
        <form role="form">
          <div class="form-group">
            <label for="email">Email</label>
            {{input value=email type='email' classNames='form-control col-md-2' id='email'}}
          </div>
          {{#if notForgotPasswordMode}}
              <div class="form-group">
                <label for="password">Password</label>
                {{input value=password type='password' classNames='form-control' id='password'}}
              </div>
          {{/if}}
          {{#if createMode}}
          <div class="form-group">
            <label for="name">Full Name</label>
            {{input value=name type='text' id='name' classNames='form-control'}}
          </div>
          {{/if}}
    {{#if signInMode}}
                <button {{action submit}} class='btn btn-primary'>Sign in</button>
    {{else}}
                <button {{action switchToSignIn}} class='btn btn-default'>Sign in</button>
    {{/if}}

    {{#if createMode}}
                <button {{action submit}} class='btn btn-primary'>Create account</button>
    {{else}}
                <button {{action switchToCreate}} class='btn btn-default'>Create account</button>
    {{/if}}
        </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>