<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>TYPE</th>
            <th class="hidden-xs hidden-sm">LAST CONTACT</th>
            <th class="hidden-xs hidden-sm">LAST IP</th>
            <th class="hidden-xs hidden-sm"></th>
        </tr>
    </thead>
    <tbody>

{{#if controller.length}}
    {{#each principal in controller}}
        <tr>
            <td>
                {{#link-to "principal.messages" principal}}
                    {{principal.id}}
                {{/link-to}}
            </td>
            <td>
                {{#if view.editing}}
                    {{view Ember.TextField valueBinding="principal.name" classNames="col-md-2"}}
                {{else}}
                    {{principal.name}}
                {{/if}}
            </td>

            <td>{{principal.type}}</td>
            <td class="hidden-xs hidden-sm">{{principal.lastConnectionString}}</td>
            <td class="hidden-xs hidden-sm">{{principal.last_ip}}</td>
            <td class="hidden-xs hidden-sm">
                <button type="button" {{action 'delete' principal}} class="btn btn-default">
                    Delete
                </button>
            </td>
        </tr>
    {{/each}}
{{else}}
        <tr>
            <td colspan='6'>
                (nothing to show)
            </td>
        </tr>
{{/if}}

    </tbody>
</table>

{{view App.ClaimView}}