<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>TYPE</th>
            <th class="hidden-xs hidden-sm">LAST CONTACT</th>
            <th class="hidden-xs hidden-sm">LAST IP</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{content.id}}</td>
            <td>
                <div class="input-group">
                    {{view Ember.TextField 
                        valueBinding="content.name" 
                        classNames="input-medium form-control" 
                        disabledBinding='view.viewing'}}
                    {{#if view.viewing}}
                         <button {{action edit target="view"}} class="btn btn-default" type="button">Edit</button>
                         <!-- <button {{action delete content}} class="btn btn-default">Delete</button> -->
                    {{else}}
                         <button {{action save content target="view"}} class="btn btn-default">Save</button>
                    {{/if}}
                </div>
            </td>
            <td>{{content.type}}</td>
            <td class="hidden-xs hidden-sm">{{content.lastConnectionString}}</td>
            <td class="hidden-xs hidden-sm">{{content.last_ip}}</td>
        </tr>
    </tbody>
</table>

<ul class="nav nav-tabs" style="margin-bottom:15px; margin-top:15px">
  <li id='principalMessagesTab'>{{#link-to "principal.messages" content}}Messages{{/link-to}}</li>
  <li id='commandsTab'>{{#link-to "principal.commands" content}}Commands{{/link-to}}</li>
  <li id='principalLogsTab'>{{#link-to "principal.logs" content}}Logs{{/link-to}}</li>
  <li id='principalPermissionsTab'>{{#link-to "principal.permissions" content}}Permissions{{/link-to}}</li>
</ul>

{{outlet}}