<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <h4>PRINCIPALS</h4>
        </div>
    </div>
    <div class='row' style='margin-bottom: 10px; border-bottom: 1px solid'>
        <div class='col-md-4'><b>ID</b></div>
        <div class='col-md-2'><b>NAME</b></div>
        <div class='col-md-1'><b>TYPE</b></div>
        <div class='col-md-2'><b>LAST CONTACT</b></div>
        <div class='col-md-3'><b>LAST IP</b></div>
    </div>

    {{#each principal in controller}}
        <div class='row'>
            <div class='col-md-4'>
                {{#linkTo "principal.messages" principal}}
                    {{principal.id}}
                {{/linkTo}}
            </div>
            <div class='col-md-2'>
                {{#if view.editing}}
                    {{view Ember.TextField valueBinding="principal.name" classNames="col-md-2"}}
                {{else}}
                    {{principal.name}}
                {{/if}}
            </div>

            <div class='col-md-1'>{{principal.type}}</div>
            <div class='col-md-2'>{{principal.lastConnectionString}}</div>
            <div class='col-md-3'>{{principal.last_ip}}</div>
        </div>
    {{/each}}

    {{view App.ClaimView}}
</div>