<table class="table">
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>TYPE</th>
        <th class="hidden-xs hidden-sm">LAST CONTACT</th>
        <th class="hidden-xs hidden-sm">LAST IP</th>
    </thead>
    <tbody>
{{#each principal in controller}}
        <tr>
            <td>
                {{#linkTo "principal.messages" principal}}
                    {{principal.id}}
                {{/linkTo}}
            </td>
            <td>
                {{#if view.editing}}
                    {{view Ember.TextField valueBinding="principal.name" classNames="col-md-2"}}
                {{else}}
                    {{principal.name}}
                {{/if}}
            </td>

            <td>{{principal.type}}</td>
            <td class="hidden-xs hidden-sm">{{principal.lastConnectionString}}</td>
            <td class="hidden-xs hidden-sm">{{principal.last_ip}}</td>
        </tr>
{{/each}}
    </tbody>
</table>

{{view App.ClaimView}}